<div class="container text-end mt-3">
    <img src="/brand.svg" class="img-fluid">
    <hr/>
    <div class="text-start">
        <h1 class="display-3">Error {{code}}</h1>
        <p>{{message}}</p>
    </div>
</div>