<div class="text-center mt-2">
    <img src="/brand.svg" class="img-fluid"/>
    <hr/>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Host</th>
            <th>Resolver</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>