<div class="container text-end mt-3">
    <img src="/brand.svg" class="img-fluid">
    <hr/>
    <div class="text-start">
        <form method="post" class="col-sm-6 ms-auto me-auto">
            <label>Your Domain (Just the domain like <b>somehost.xyz</b>)</label>
            <input type="text" name="host" class="form-control mb-4" placeholder="Your Domain (Do not add HTTP OR HTTPS)" required />
            <label>SomeHost Address (Complete Address like <b>http://node4.somehost.xyz:3178/</b>)</label>
            <input type="text" name="address" class="form-control" placeholder="SomeHost Address" required />
            <hr />
            <button class="btn btn-success" type="submit">Add Host</button>
        </form>
    </div>
</div>