<div class="container text-end mt-3">
    <img src="/brand.svg" class="img-fluid">
    <hr/>
    <div class="text-start">
        <h1 class="display-3">Success!</h1>
        <h1>Please change the DNS for your host to 136.243.203.25</h1>
    </div>
</div>